soap/WebExtractServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChildcareExtractForLA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lACode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildcareExtractForLAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetChildcareExtractForLAResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xMLExtract" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChildcareExtractForLASoapIn">
    <wsdl:part name="parameters" element="tns:GetChildcareExtractForLA" />
  </wsdl:message>
  <wsdl:message name="GetChildcareExtractForLASoapOut">
    <wsdl:part name="parameters" element="tns:GetChildcareExtractForLAResponse" />
  </wsdl:message>
  <wsdl:portType name="WebExtractServicesSoap">
    <wsdl:operation name="GetChildcareExtractForLA">
      <wsdl:input message="tns:GetChildcareExtractForLASoapIn" />
      <wsdl:output message="tns:GetChildcareExtractForLASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebExtractServicesSoap" type="tns:WebExtractServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChildcareExtractForLA">
      <soap:operation soapAction="http://tempuri.org/GetChildcareExtractForLA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebExtractServicesSoap12" type="tns:WebExtractServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChildcareExtractForLA">
      <soap12:operation soapAction="http://tempuri.org/GetChildcareExtractForLA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebExtractServices">
    <wsdl:port name="WebExtractServicesSoap" binding="tns:WebExtractServicesSoap">
      <soap:address location="http://localhost/ISPPServices/WebExtractServices.asmx" />
    </wsdl:port>
    <wsdl:port name="WebExtractServicesSoap12" binding="tns:WebExtractServicesSoap12">
      <soap12:address location="http://localhost/ISPPServices/WebExtractServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>